In [3]:
import pandas as pd

In [6]:
FILE = '../dataFiles/auto-mpg.csv'
# mpgDF =pd.read_csv(FILE,header=None,dtype={3:'float'})
mpgDF =pd.read_csv(FILE,header=None)

In [7]:
# 데이터 확인
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [8]:
mpgDF.head()

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0   76.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0   77.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  230.0  3436.0  11.0  70  1         plymouth satellite
3  16.0  8  304.0   46.0  3433.0  12.0  70  1              amc rebel sst
4  17.0  8  302.0   78.0  3449.0  10.5  70  1                ford torino

In [9]:
# 컬럼별 고유값과 값의 갯수 파악
# =================================
# 고유값 => 컬럼마다 데이터 종류 DF.unique() / SR.unique()
# 데이터 종류의 수 = > DF.value_counts(), SR.value_counts()
mpgDF.columns =['mpg', 'cylinders' ,'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'car_name']

In [ ]:
for col in mpgDF.columns:
    print(f'\n--[{col}] -------')
    print(f'고유값\n{mpgDF[col].unique()}')
    print(f'값의 갯수\n{mpgDF[col].value_counts()}\n')

In [ ]:
#horsepower 컬럼에 이상한 값 '?' 이 존재 => 실수 문자열 '실수'
#데이터를 변경해주는 메서드 => DF.replace(), SR.replace()

mpgDF.horsepower.replace('?',"0.0",inplace=True)
# mpgDF.horsepower.unique()
mpgDF.horsepower.value_counts()
# mpgDF.horsepower.value_counts()['0.0']

# mpgDF.horsepower.value_counts()
# horseValueCount = mpgDF.horsepower.value_counts()
# print(horseValueCount['?']) #? 시리즈 안에 있느것 찾기

In [35]:
# horsepower 컬럼의 데이터 => '실수' 타입 object ----> float64
# 타입 변경하는 메서드 => DF>astype('새로운타입'),SR.astype("새로운타입")
mpgDF.horsepower = mpgDF.horsepower.astype('float64') #인플레이스가 없다.
type(mpgDF.horsepower.dtype) 
mpgDF.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,76.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,77.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,230.0,3436.0,11.0,70,1,plymouth satellite

In [ ]:
#seaborn 시각화 패키지 라이브러리
#-시각화 API 실습에 사용될 데이터를 가지고 있음
#-이런 데이터를 => dataset
#-load_dataset('데이터이름')
# 설치 => pip install 패키지명
# 쥬피터는 앞에 ! 
# !pip install seaborn

In [ ]:
import seaborn as sns
tipDF = sns.load_dataset('tips')
tipDF.info()

In [72]:
#컬럼의 자료형 변환 실습
#성별 컬럼의 데이터 확인 
# tipDF['sex'] 또는
# 카테고리 타입을 object타입으로 변경 
tipDF.sex
# tipDF.sex = tipDF.sex.astype("str")
# tipDF.sex

#원본에 미적용하고, 컬럼에 추가하고 싶다면? 
tipDF['sex_str'] = tipDF.sex.astype("string")
tipDF['sex_str'] = tipDF.sex.astype("string")
print(tipDF.info())
# tipDF['sex'].dtype()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   newSex      244 non-null    string
 8   sex_str     244 non-null    string
dtypes: category(3), float64(2), int64(1), object(1), string(2)
memory usage: 12.7+ KB
None

In [67]:
headDF = tipDF.head(10)

In [68]:
headDF.index, headDF.columns

(RangeIndex(start=0, stop=10, step=1),
 Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size', 'newSex',
        'sex_str'],
       dtype='object'))

In [71]:
# 1,3,5,7 행 데이터만 추출
# headDF.loc[[1,3,5,7],'total_bill']='missing'
headDF.iloc[1,0],headDF.iloc[3,0],headDF.iloc[[3,0],0]

fourDF = headDF.iloc[[1, 3, 5, 7], 0] = 'missing'
headDF
#astype 에러를 발생시키는 것...

(10.34,
 23.68,
 3    3.31
 0    1.01
 Name: tip, dtype: float64)

In [82]:
# headDF.iloc[0]['total_bill'] = 'missing' SettingWithCopyWarning:
# 만약에 값을 바꾼다고하면, 카피를해서 써야한다.
# import copy
# nums = [1,2,3,4,["A","B"`]]
# a = copy.copy(nums)
# # a = copy.deepcopy(nums)
# a[0] = 10
# # a[-1][0] = 100
# print(a,nums)
#리스트 안에 리스트는 안바뀐다 
#이런 현상이 데이터 프레임에도 발생한다.

# headDF.iloc[0]['total_bill'] = 'missing' SettingWithCopyWarning
tipDF.iloc[0,[0,1]]['total_bill']
tipDF.iloc[0,[0,1]]['total_bill'] = 'Good'
#값을 바꾸려하고하니까
#값을 바꿔지지도 않았는데, 오류가 안뜬다.
tipDF.iloc[0,[0,1]]

mydata = tipDF.iloc[0,[0,1]].copy()
mydata.index, type(mydata), mydata['total_bill']
mydata['total_bill'] = "A"
mydata

#슬라이싱을 했을 때, 발생하는 문제,
#headDF.iloc[0]['total_bill']이 뷰라서 발생하는 문제인가요?

total_bill       A
tip           1.01
Name: 0, dtype: object

In [86]:
#카테고리타입
#자료형이 정해져잇을경우에는 차문, int형보다 카테고리 타입이  유리하다 .
#orgin을 정수가 아니라, 카테고리 타입으로 두어야지.
#잘못해서 계산하는 밠행하는 일이 발생하지 아니한다.

# 실린더랑, 오리진 타입체크 int64 > 카테고리 
# 타입변경 astype()
mpgDF.astype({'cylinders':'category','origin':"category"}) #실제로 안바뀌있기 때문에 저장해야한다.\\
mpgDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    float64
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB