In [2]:
# --------------------------------------
# 결측치(Missing Value)
# - 값이 들어아 있지 않는 것을 의미
# - 표기 : NaN, NA
# --------------------------------------
import pandas as pd
import numpy as np

In [3]:
# DF =================================================
data = [[10, 13, np.nan, 7],
        [2, 9, 3, 1],
        [21, 31, np.nan, 51]]

dataDF = pd.DataFrame(data)
dataDF

    0   1    2   3
0  10  13  NaN   7
1   2   9  3.0   1
2  21  31  NaN  51

In [4]:
dataDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      int64
 1   1       3 non-null      int64
 2   2       1 non-null      float64
 3   3       3 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 224.0 bytes

In [4]:
# 컬럼별 결측시 --------------------------------------------
# isnull() , isna()
dataDF.isnull() #데이터 프레임

       0      1      2      3
0  False  False   True  False
1  False  False  False  False
2  False  False   True  False

In [5]:
dataDF.isnull().sum() 
#sum() 시리즈 타입으로 반환, 컬럼단위로 숫자를 다 더하면, 시리즈로 반환됨
#집계합수는 axis는 기본값이 0인데, 이럴때는 행행행행 더하는것이다.
#drop랑 다르다. axis는 각각의 행을 더하는 것

0    0
1    0
2    2
3    0
dtype: int64

In [6]:
dataDF.isnull().sum(axis=1)

0    1
1    0
2    1
dtype: int64

In [11]:
# 정상 데이터 갯수 파악 = > notnull, notna()
dataDF.notnull().sum()

0    3
1    3
2    1
3    3
dtype: int64