In [16]:
import pandas as pd
import numpy as np

In [23]:
# 2개의 csv파일 로딩하기

visiited = pd.read_csv('../dataFiles/survey_visited.csv')
survey = pd.read_csv('../dataFiles/survey_survey.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ident   8 non-null      int64
 1   site    8 non-null      object
 2   dated   7 non-null      object
dtypes: int64(1), object(2)
memory usage: 320.0+ bytes

In [29]:
vs = visiited.merge(survey,left_on='ident', right_on='taken')
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [ ]:
# ESC + B 블럭 추가

In [44]:
# 결측시 계싼 방법 ----= (1) count() 메서드 활용 not null()
# nan 제외한 데이터 갯수

data = [[10, 13, np.nan, 7],
        [2, 9, 3, 1],
        [21, 31, np.nan, 51]]

dataDF = pd.DataFrame(data)
dataDF

    0   1    2   3
0  10  13  NaN   7
1   2   9  3.0   1
2  21  31  NaN  51

In [46]:
dataDF.count()
dataDF.value_counts()

0  1  2    3
2  9  3.0  1    1
dtype: int64

In [32]:
dataDF.shape[0]

3

In [33]:
missing = dataDF.shape[0] - dataDF.count()
missing

0    0
1    0
2    2
3    0
dtype: int64

In [49]:
vcDF = dataDF.value_counts(dropna=False) #
#dropna=False 공백이 있는 건 카운트를 안하겠다.
vcDF, vcDF.index, type(vcDF)

(0   1   2    3
 2   9   3.0  1     1
 10  13  NaN  7     1
 21  31  NaN  51    1
 dtype: int64,
 MultiIndex([( 2,  9, 3.0,  1),
             (10, 13, nan,  7),
             (21, 31, nan, 51)],
            names=[0, 1, 2, 3]),
 pandas.core.series.Series)

In [40]:
vcDF

0   1   2    3
2   9   3.0  1     1
10  13  NaN  7     1
21  31  NaN  51    1
dtype: int64

In [42]:
dataDF.value_counts()

0  1  2    3
2  9  3.0  1    1
dtype: int64

In [ ]:
# 값들이 인덱스가 되는 것이고, 결과값이 벨류가 되는거라서
# 시리즈! unique row 를 한줄의 
# dropna=False를 넣지 않으면, nan가 있는 줄은 카운트에 포함시키지 않는다.